{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react-refresh",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "env": { "browser": true, "es2020": true },
  "ignorePatterns": [
    "dist",
    ".eslintrc.cjs",
    "*.md",
    "**/*.html",
    "../Selynt/**"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],
    "prettier/prettier": "error"
  }
}